// breakpoints

$layout-breakpoint-large: 1200px;
$layout-breakpoint-medium: 1060px;
$layout-breakpoint-small: 768px;
$layout-breakpoint-xsmall: 480px;

// Colors
$white: #ffffff;
$black: #000000;
$slate: #94a3b8;
$light-text: #606c7b;
